<% unless @discussion.posts.empty? %>
  <h3 class="text-center">This discussion's posts</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>body</th>
        <th>created by</th>
        <th>last update by</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @discussion.posts.each do |post| %>
        <tr>
          <td>
            <div class="panel panel-default">
              <div class="panel-body">
                <%= markdown(post.body) %>
              </div>
            </div>
          </td>
          <td>
            <% unless post.creator <= 0 %>
              <%= link_to @users.find_by_id(post.creator).name, 
                @users.find_by_id(post.creator) %>
            <% else %>
              Unknown
            <% end %>
             at <%= post.created_at %>
          </td>
          <td>
            <% unless post.last_editor.nil? %>
              <%= link_to @users.find_by_id(post.last_editor).name, 
                @users.find_by_id(post.last_editor) %> 
              at <%= post.updated_at %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <ul class="posts-controls">
              <% unless @project.archived %>
                <li>
                  <%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true">
                    </i>'), edit_project_discussion_post_path(@project, @discussion, post) %>
                </li>
                <li>
                  <%= link_to (raw '<i class="fa fa-times" aria-hidden="true">
                    </i>'), project_discussion_post_path(@project, @discussion, post),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center">No posts!</h4>
<% end %>

<% if current_user.projects.find_by_id(@project.id) || 
  current_user.manager_role %>
  <% unless @project.archived %>
    <%= link_to (raw '<i class="fa fa-plus" aria-hidden="true">
      </i> New post'), new_project_discussion_post_path(@project, @discussion) %>
  <% end %>
<% end %>
