<% unless @discussion.posts.empty? %>
  <h3 class="text-center">This discussion's posts</h3>
  <table class="table table-striped">
    <tbody>
      <% @discussion.posts.each do |post| %>
        <tr>
          <td>
            <% unless post.creator <= 0 %>
              <%= image_tag(@users.find_by_id(post.creator).avatar.url(:thumb),
                :class => "user-thumb-image user-list") %>
              <%= link_to @users.find_by_id(post.creator).name, 
                @users.find_by_id(post.creator) %>
            <% else %>
              Unknown
            <% end %>
            posted at <%= post.created_at %>
            
            <div class="panel panel-default">
              <div class="panel-body">
                <%= markdown(post.body) %>
              </div>
            </div>
            <% unless post.last_editor.nil? %>
              <%= link_to @users.find_by_id(post.last_editor).name, 
                @users.find_by_id(post.last_editor) %> 
              edited at <%= post.updated_at %>
            <% end %>
          </td>
          <td>
            <ul class="posts-controls">
              <% unless @project.archived %>
                <li>
                  <%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true">
                    </i>'), edit_project_discussion_post_path(@project, 
                    @discussion, post) if (can? :manage, Post) || 
                    post.creator == current_user.id %>
                </li>
                <li>
                  <%= link_to (raw '<i class="fa fa-times" aria-hidden="true">
                    </i>'), project_discussion_post_path(@project, 
                    @discussion, post), method: :delete, data: { confirm: 
                    'Are you sure?' } if can? :manage, Post %>
                </li>
              <% end %>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center">No posts!</h4>
<% end %>

<% if current_user.projects.find_by_id(@project.id) || 
  current_user.manager_role %>
  <% unless @project.archived %>
    <h5>Add new post:</h5>
    <%= render 'posts/form', post: Post.new, project: @project, 
      discussion: @discussion %>
    
  <% end %>
<% end %>
