<h3>
  <%= @discussion.title %>
</h3>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= markdown(@discussion.body) %>
    </div>
  </div>
</div>
<br>

<p>
  <strong>Creator: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong>
  <% if @discussion.user %>
      <%= image_tag(@discussion.user.avatar.url(:thumb),
        :class => "user-thumb-image user-list") %>
      <%= link_to(@discussion.user.name, 
        @discussion.user) %>
        at <%= @discussion.created_at %>
  <% else %>
    Unknown
  <% end %>
</p>


<%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true">
  </i> Edit'), 
  edit_project_discussion_path(@project,
  @discussion) if can? :manage, Discussion %>
  <br>
<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back to project'), @discussion.project %>

<br><br>
<%= render "discussions/posts" %>
<br><br>
