<h3>
  <%= @discussion.title %>
</h3>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= markdown(@discussion.body) %>
    </div>
  </div>
</div>
<br>

<p>
  <strong>Creator: </strong>
  <% if @users.find_by_id(@discussion.creator) %>
      <%= image_tag(@users.find_by_id(@discussion.creator).avatar.url(:thumb), 
        :class => "user-thumb-image user-list") %>
      <%= link_to(@users.find_by_id(@discussion.creator).name, 
        @users.find_by_id(@discussion.creator)) %>
        at <%= @discussion.created_at %>
  <% else %>
    Unknown
  <% end %>
</p>

<% unless @discussion.last_editor.nil? %>
  <p>
    <strong>Last editor:</strong>
    <%= image_tag(@users.find_by_id(@discussion.last_editor).avatar.url(:thumb), 
      :class => "user-thumb-image user-list") %>
    <%= link_to(@users.find_by_id(@discussion.last_editor).name, 
      @users.find_by_id(@discussion.last_editor)) %>
    at <%= @discussion.updated_at %>
  </p>
<% end %>


<%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true">
  </i> Edit'), edit_project_discussion_path(@discussion) %>
  <br>
<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back to project'), @discussion.project %>

<br><br>
<%= render "discussions/posts" %>
<br><br>