<h3><%= @user.name %>'s profile</h3>
<%= image_tag(current_user.avatar.url(:medium), 
  :class => "user-medium-image") %>
<p><strong>email:</strong> <%= @user.email %></p>
<p><strong>member since:</strong> <%= @user.created_at %></p>
<p><strong>last seen:</strong> <%= @user.last_sign_in_at %></p>
<p>
  <strong>role:</strong> 
  <% if @user.superadmin_role %>
    Administrator - "I am the Alpha and the Omega"
  <% elsif @user.manager_role %>
    Manager - "Work, niggers, the sun is still high!"
  <% else %>
    Developer - "I live only to serve... I humbly obey..."
  <% end %>
</p>

<% if @user == current_user %>
  <%= link_to('Edit profile', edit_user_registration_path) %>
<% end %>

<% unless @user.projects.empty? %>
  <h3 class="text-center"><%= @user.name %>'s projects</h3>
  <div class="list-group projects-list">
    <% @user.projects.each do |project| %>
      <%= link_to(project.title, project, :class => "list-group-item") %>
    <% end %>
  </div>
<% else %>
  <h4 class="text-center"><%= @user.name %> is very lazy and has no projects :P</h4>
<% end %>
