<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <h3 class="text-center">Live Feed</h3>
      <div class="list-group live-feed" id="live-feed">
        
        <% @feeds.reverse_each do |feed| %>
          <div class="list-group-item">
            <% unless feed.body %>
              <%= link_to feed.user.name, 
               feed.user %>&nbsp;has <%= feed.action %>d
                &nbsp;<%= link_to  feed.project.title, 
                feed.project %>&nbsp;at 
                <%= feed.created_at %>
            <% else %>
              <%= link_to feed.user.name, 
              feed.user %>&nbsp;has <%= feed.action %>ed: 
              "<%= feed.body %>" at <%= feed.created_at %>
            <% end %>
          </div>
        <% end %>
      </div>
      <br>
      <%= link_to (raw '<i class="fa fa-plus-circle" aria-hidden="true">
        </i> Create a feed post'), new_feed_path if 
        (can? :new, Feed) %>
    </div>
  </div>
</div>
