<%= form_for document, url: project_document_path, html: { method: :patch } do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> 
        prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :title %></strong>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <strong><%= f.label :cloudinary_uri %></strong>
    <%= f.text_area :cloudinary_uri %>
  </div>
  
  <div class="field">
    <%= cl_image_upload_tag(:image_id, :crop => :limit, :width => 1000, :height => 1000) %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<%= form_tag(:method => :patch) do  %>
  
<% end %>