<%= form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> 
        prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <strong><%= f.label :title %></strong>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <strong><%= f.label :description %></strong>
    <%= f.text_area :description %>
  </div>
  
  <div class="field">
    <%= cl_image_upload_tag(:image_id, :crop => :limit, :width => 1000, :height => 1000) %>
  </div>
  
  <div class="field">
    <strong><%= f.label :tag_list, "Tags (separated by commas)" %></strong>
    <%= f.text_field :tag_list, value: project.tag_list.to_s %>
  </div>
  <% if can? :manage, Project %>
    <p><strong>This project's users:</strong>
    <% User.all.each do |user| %>
      <div>
        <%= check_box_tag "project[user_ids][]", user.id, 
          project.users.include?(user) %>
        <%= user.name %>
      </div>
    <% end %>
    </p>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_tag(:method => :post) do  %>
  
<% end %>