<%= simple_form_for(project) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> 
        prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.label :tag_list, "Tags" %>
  <%= f.text_field :tag_list, id: "tags", class: "form-control",
    value: project.tag_list.to_s %>
  <br>
  <%= f.label nil, "This project's users:" %>
  
  <input type="text" id="form-users-list-search" class="form-control"
    placeholder="filter users">  
  <p>
    <div class="list-group form-users-list">
      <% User.all.each do |user| %>
        <div class="list-group-item">
          <%= check_box_tag "project[user_ids][]", user.id, 
            project.users.include?(user), class: "form-users-list-item",
              id: user.name %>
          <%= user.name %>
        </div>
      <% end %>
    </div>
  </p>
  
  <%= f.input :archived %>
  
  <%= f.button :submit %>

<% end %>
