<% unless @project.wikis.empty? %>
  <h3 class="text-center">This project's wikis</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>title</th>
        <th>created by</th>
        <th>last update by</th>
        <th>controls</th>
      </tr>
    </thead>
    <tbody>
      <% @project.wikis.each do |wiki| %>
        <tr>
          <td>
            <%= link_to wiki.title, project_wiki_path(@project, wiki) %>
          </td>
          <td>
            <% unless wiki.creator <= 0 %>
              <%= link_to @users.find_by_id(wiki.creator).name, 
                @users.find_by_id(wiki.creator) %>
            <% else %>
              Unknown
            <% end %>
             at <%= wiki.created_at %>
          </td>
          <td>
            <% unless wiki.last_editor.nil? %>
              <%= link_to @users.find_by_id(wiki.last_editor).name, 
                @users.find_by_id(wiki.last_editor) %> 
              at <%= wiki.updated_at %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <ul class="wikis-controls">
              <li><%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true"></i>'), edit_project_wiki_path(@project, wiki) %></li>
              <li><%= link_to (raw '<i class="fa fa-times" aria-hidden="true"></i>'), project_wiki_path(@project, wiki),
                                      method: :delete, data: 
                                      { confirm: 'Are you sure?' } %></li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center">This project's wikis have taken a vacation!</h4>
<% end %>

<% if current_user.projects.find_by_id(@project.id) || 
      current_user.manager_role %>
  <%= link_to 'New wiki', new_project_wiki_path(@project) %>
<% end %>
