<% unless @project.wikis.empty? %>
  <h3 class="text-center">This project's wikis</h3>
  <% if current_user.projects.find_by_id(@project.id) || 
    current_user.manager_role %>
    <% unless @project.archived %>
      <%= link_to (raw '<i class="fa fa-plus" aria-hidden="true">
        </i> New wiki'), new_project_wiki_path(@project) %>
    <% end %>
  <% end %>
  <table class="table table-striped table-hover">
    <tbody>
      <% @project.wikis.each do |wiki| %>
        <tr>
          <td>
            <%= link_to wiki.title, project_wiki_path(@project, wiki) %>
          </td>
          <td>
            <ul class="wikis-controls">
              <% unless @project.archived %>
                <li>
                  <%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true">
                    </i>'), edit_project_wiki_path(@project, wiki) %>
                </li>
                <li>
                  <%= link_to (raw '<i class="fa fa-times" aria-hidden="true">
                    </i>'), project_wiki_path(@project, wiki),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
                </li>
              <% end %>
              <li>
                <button class="accordion"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
                <div class="dropdown">
                  Created by 
                  <% unless wiki.creator <= 0 %>
                    <%= link_to @users.find_by_id(wiki.creator).name, 
                      @users.find_by_id(wiki.creator) %>
                  <% else %>
                    Unknown
                  <% end %>
                   at <%= wiki.created_at %>
                  <% unless wiki.last_editor.nil? %>
                    <br><br>
                    Last update by <%= link_to @users.find_by_id(wiki.last_editor).name, 
                      @users.find_by_id(wiki.last_editor) %> 
                    at <%= wiki.updated_at %>
                  <% end %>
                </div>
              </li>
            </ul>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h4 class="text-center">This project's wikis have taken a vacation!</h4>
<% end %>
