<% if @project.archived %>
  <p>
    <i class="fa fa-snowflake-o" aria-hidden="true"></i>
    <i class="fa fa-archive" aria-hidden="true"></i>
    This project's been frozen and archived.
  </p>
<% end %>

<h1><%= @project.title %></h1>

<p>
  <%= @project.description %>
</p>

<p>
  Tags: <%= tag_links_for_project(@project) %>
</p>

<%= link_to (raw '<i class="fa fa-pencil-square-o" aria-hidden="true">
  </i> Edit'), edit_project_path(@project) if can? :manage, Project %>

<% unless @project.users.empty? %>
  <h3 class="text-center">This project's developers</h3>
  <div class="list-group projects-list">
    <% @project.users.each do |user| %>
      <div class="list-group-item">
        <%= image_tag(user.avatar.url(:thumb), 
          :class => "user-thumb-image user-list") %>
        <%= link_to(user.name, user) %>
      </div>
    <% end %>
  </div>
<% else %>
  <h4 class="text-center">Everyone hates this project, 
    so it has no developers...</h4>
<% end %>

<br>
<%= render "projects/discussions" %>
<br><br>
<div class="row">
  <div class="col-sm-6">
    <%= render "projects/documents" %>
  </div>
  <div class="col-sm-6">
    <%= render "projects/wikis" %>
  </div>
</div>
<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back to all projects'), projects_path %>
