<h3>
  <%= @wiki.title %>
</h3>

<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <%= markdown(@wiki.body) %>
    </div>
  </div>
</div>
<br>

<p>
  <strong>Creator: </strong>
  <% if @wiki.user %>
      <%= image_tag(@wiki.user.avatar.url(:thumb), 
        :class => "user-thumb-image user-list") %>
      <%= link_to(@wiki.user.name, 
        @wiki.user) %>
        at <%= @wiki.created_at %>
  <% else %>
    Unknown
  <% end %>
</p>

<% unless @project.archived %>
  <%= link_to (raw '<i class="fa fa-pencil" aria-hidden="true">
    </i> Edit'), edit_project_wiki_path(@project, @wiki) %>
    <br>
<% end %>  
<%= link_to (raw '<i class="fa fa-arrow-left" aria-hidden="true">
  </i> Back'), @wiki.project %>
