<!DOCTYPE html>
<html>

<head>
  <title>World's Best Project Management App</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= cloudinary_js_config %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <% if current_user && current_user.dark_style %>
    <%= stylesheet_link_tag 'dark', media: 'all' %>
  <% end %>
</head>

<body>
  
  <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
      toastr['<%= type %>']('<%= f[1] %>');
      <% end %>
    </script>
  <% end %>
  
  <nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" 
        data-toggle="collapse" data-target="#navbarsExampleContainer" 
        aria-controls="navbarsExampleContainer" aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <%= link_to("World's Best PM App", root_path, 
        :class => "navbar-brand") %>
      
      <div class="collapse navbar-collapse" id="navbarsExampleContainer">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to('All Projects', projects_path, 
                :class => "nav-link") %>
            </li>
            <% if current_user.superadmin_role? || current_user.manager_role? %>
              <li class="nav-item active">
                <%= link_to('Admin Dashboard', rails_admin_path, 
                  :class => "nav-link") %>
              </li>
            <% end %>
          <% end %>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <div class="form-group">
            <%= form_tag(projects_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
              <%= button_tag(type: "submit", class: "btn btn-default") do %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <li class="nav-item active">
            <%= link_to('Logout', destroy_user_session_path, 
              :method => :delete, :class => "nav-link") %>
          </li>
          <li class="nav-item active">
            <%= link_to(current_user.name, current_user, 
              :class => "nav-link") %>
          </li>
          <li class="nav-item active">
            <%= image_tag(current_user.avatar.url(:thumb), 
              :class => "user-thumb-image") %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to('Login', new_user_session_path, 
              :class => "nav-link") %>
          </li>
          <li class="nav-item active">
            <%= link_to('Register', new_user_registration_path, 
              :class => "nav-link")  %>
          </li>
        <% end %>
        </ul>
        <!--
        <form class="form-inline my-2 my-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
        -->
      </div>
    </div>
  </nav>
  
  <% if current_page?(root_path) %>
    <%= yield %>
  <% else %>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= yield %>
        </div>
      </div>
    </div>
  <% end %>
  
</body>

</html>
